<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href = 'css/styles.css'>
</head>
<body>
    <h1>Current Restaurants and Ratings</h1>
    <ul class="restaurants">
    <% for(let i = 0; i < restaurants.length; i++){%>
        <li class = 'restaurant' data-id='<%=restaurants[i]._id%>'>
            <div data-id='<%=restaurants[i]._id%>'>
                <span><%= restaurants[i].restaurantName%></span>
                <span> rating: <%= restaurants[i].ratings%></span>
                <span><%= restaurants[i].votes%></span>
                <span class="fa-solid fa-thumbs-up"></span>
                <span class="fa-solid fa-thumbs-down"></span>
                <span class='fa fa-trash'></span>
            </div>
            <span class = 'comment'><%= restaurants[i].comments%></span>
        </li>
    <%} %>
    </ul>
    <script src='js/main.js'></script>
</body>
</html>