<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href = '/css/pollStyles.css'>
</head>
<body>
    <div class="container">
        <header>
            <h1>RESTAURANT POLL</h1>
            <a class="menu">
                <i class="fa fa-bars"></i>
            </a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <h2>Current Polls</h1>
        <ul class="restaurants">
        <% for(let i = 0; i < restaurants.length; i++){%>
            <li class = 'restaurant' data-id='<%=restaurants[i]._id%>'>
                <div data-id='<%=restaurants[i]._id%>'>
                    <span><%= restaurants[i].restaurantName%></span>
                    <span> rating: <%= restaurants[i].ratings%></span>
                    <span><%= restaurants[i].votes%></span>
                    <span class="fa-solid fa-thumbs-up"></span>
                </div>
                <span class = 'comment'><%= restaurants[i].comments%></span>
            </li>
        <%} %>
        </ul>
    </div>
    <script src='/js/poll.js'></script>
</body>
</html>