<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href = '/css/restaurantStyles.css'>
</head>
<body>
    <div class="container">
        <header>
            <h1>RESTAURANT POLL</h1>
            <a class="menu">
                <i class="fa fa-bars"></i>
            </a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><form action="/restaurant/logout" method="POST"> <button class="logout-button reset-button-style"type="submit">Logout</button></form></li>
                    <li id="create-poll"><a href="/restaurant/createLink">Create Poll</a></li>
                </ul>
            </nav>
        </header>
        <h2>Current Restaurants</h2>
        <ul class="restaurants">
        <% for(let i = 0; i < restaurants.length; i++){%>
            <li class = 'restaurant' data-id='<%=restaurants[i]._id%>'>
                <div class="restaurant-item"data-id='<%=restaurants[i]._id%>'>
                    <span class="restaurant-name"><%= restaurants[i].restaurantName%></span>
                    <span class="restaurant-rating"> Rating: <%= restaurants[i].ratings%>/5</span>
                    <span class ='comment'><%= restaurants[i].comments%></span>
                    <span class='fa fa-trash'></span>
                </div>
            </li>
        <%} %>
        </ul>
        <button class="reset-button-style" id="showDialog">Add Entry</button>
        <dialog id="addRestaurantDialog">
            <div class = "formSub">
                <h3>Add a Restaurant:</h2>
                <form class="input-form"action = '/restaurant/addRestaurant' method="POST">
                    <label for="name-field">Restaurant name:</label>
                    <input id = "name-field" type="text" name="restaurantname" required><br>
                    <label for="rating-field"> Rating from 1-5:</label>
                    <input id = "rating-field" type="number" name="rating" min="1" max="5" required><br>
                    <label for="comment-field"> Comments:</label>
                    <textarea id = "comment-field" type ="text" name = "comments"></textarea required>
                    <button id="closeDialog" value="cancel" formmethod="dialog">&times;</button>
                    <button id="submitButton"type="submit">Submit</button>
                </form>
            </div>
        </dialog>
    </div>
    <script src='/js/main.js'></script>
</body>
</html>