<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href = '/css/restaurantStyles.css'>
</head>
<body>
    <div class="container">
        <header>
            <h1>RESTAURANT POLL</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Log Out</a></li>
                    <li><a href="/restaurant/createLink">Create Poll</a></li>
                </ul>
            </nav>
        </header>
        <h2>Current Restaurants</h2>
        <ul class="restaurants">
        <% for(let i = 0; i < restaurants.length; i++){%>
            <li class = 'restaurant' data-id='<%=restaurants[i]._id%>'>
                <div class="restaurant-item"data-id='<%=restaurants[i]._id%>'>
                    <span><%= restaurants[i].restaurantName%></span>
                    <span> rating: <%= restaurants[i].ratings%></span>
                    <span class = 'comment'><%= restaurants[i].comments%></span>
                    <span class='fa fa-trash'></span>
                </div>
            </li>
        <%} %>
        </ul>
        <div class = "formSub">
            <h3>Add A Restaurant:</h2>
    
            <form class="input-form"action = '/restaurant/addRestaurant' method="POST">
                <input class = "textField" type="text" placeholder="Restaurant Name" name="restaurantname" required>
                <textarea class = "commentField" type ="text" placeholder="Comments" name = "comments"></textarea required>
                <input class = "ratingField" type="number" placeholder="Rating from 1-5" name="rating" min="1" max="5" required>
                <button class = "submitButton"type="submit">Submit</button>
            </form>
            
        </div>
        <form action = '/restaurant/createLink' method="GET">
            <button class="pollButton">Create a Poll</button>
        </form>
    </div>
    <script src='/js/main.js'></script>
</body>
</html>